<main id="main-content" class="container-fluid bg-dark text-light p-5">
    <h1 class="fw-bold text-center mb-5">Simple Chat</h1>

    <!-- Chat container to display messages -->
    <div id="chat" class="chat-container border border-primary rounded p-3 mb-5"></div>

    <!-- Form to send messages -->
    <form id="message-form" class="mb-5">
        <div class="input-group">
            <input type="text" id="message-input" class="form-control" placeholder="Type a message" />
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>

    <!-- Online users list -->
    <h2 class"fw-bold text-center mb-5">Online Users</h2>
    <ul id="online-users"></ul>
</main>

<!-- Socket.io library to establish WebSocket connection with the server -->
<script src="/socket.io/socket.io.js"></script>
<!-- SweetAlert2 library for interactive alert messages -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Custom script to handle chat functionality and user interactions -->
<script src="/js/chat.js"></script>